.DS_Store
.Rhistory

.gitignore

*.vcf
*.pptx
*.csv
*.docx
*.txt
*.rds

*.spid

*.gz
*.gz.tbi
*.bed
*.bim
*.fam
*.log
*.nosex
*.tfam
*.tped

00-Data

old_*
*forMe*
depr*

00-Misc/stamps
06-ADMIXTURE
06-ADMIXTURE/*/*/*.P
06-ADMIXTURE/*/*/*.Q
06-ADMIXTURE/*/*/*.out
06-ADMIXTURE/*/*/*.Q_*


.Rproj.user
