.DS_Store
.Rhistory

.gitignore

*.vcf
*.pptx
*.csv
*.docx

*.gz
*.gz.tbi
*.bed
*.bim
*.fam
*.log
*.nosex
*.tfam
*.tped

00-Data

old_*

01-ADMIXTURE
01-ADMIXTURE/*/*/*.P
01-ADMIXTURE/*/*/*.Q
01-ADMIXTURE/*/*/*.out
01-ADMIXTURE/*/*/*.Q_*


.Rproj.user
