.DS_Store
.Rhistory

*.vcf
*.pdf
*.txt
*.pptx

*.gz
*.gz.tbi
*.bed
*.bim
*.fam
*.log
*.nosex
*.tfam
*.tped


00-Data/*/*/*
00-Data/old-01-Diplodus
00-Data/old-02-Mullus

01-ADMIXTURE/*/*/*.P
01-ADMIXTURE/*/*/*.Q
01-ADMIXTURE/*/*/*.out
01-ADMIXTURE/*/*/*.Q_*


